@layer starlight, nexus;

html[data-theme="dark"] {
    --mentor-accent-color: #0078d4;
    --mentor-accent-background: rgba(0, 120, 212, 0.1);
    --sl-color-text-invert: var(--sl-color-white);
}

html[data-theme="light"] {
    --mentor-accent-color: #005fb8;
    --mentor-accent-background: rgba(0, 95, 184, 0.1);
    --sl-color-text-invert: var(--sl-color-black);
}

:root {
    --sl-text-5xl: 3.5rem;
    --sl-content-width: 50rem;
    --sl-content-margin-inline: unset;
    --sl-color-text-accent: var(--mentor-accent-color);
}

@layer mentor {
    html[data-theme="dark"] .sl-link-button.primary {
        color: var(--sl-color-text-invert);
    }

    a[aria-current="page"] {
        color: var(--sl-color-text-accent);
        background-color: transparent;
    }

    .screenshot {
        border-radius: 0.5rem;
        box-shadow: var(--sl-shadow-lg);
    }

    .centered {
        margin-left: auto;
        margin-right: auto;
    }

    .w-100 {
        width: 100%;
    }

    .my-3 {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .site-title {
        color: var(--sl-color-white);
        gap: 10px;
    }

    .hero {
        grid-template-columns: none;
        padding-block: 0;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .table-10ch :is(th:first-child, td:first-child):not(:where(.not-content *)) {
        min-width: 10ch;
    }

    .table-20ch :is(th:first-child, td:first-child):not(:where(.not-content *)) {
        min-width: 20ch;
    }

    .table-30ch :is(th:first-child, td:first-child):not(:where(.not-content *)) {
        min-width: 30ch;
    }

    .sl-container {
        max-width: var(--sl-content-width);
        margin-inline: 1rem;
    }

    .starlight-aside--note {
        --sl-color-asides-border: var(--mentor-accent-color);
        background-color: var(--mentor-accent-background);
    }

    .starlight-aside--note .starlight-aside__title,
    .starlight-aside--note .starlight-aside__icon {
        color: var(--mentor-accent-color);
    }
}